*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: lightblue;
    padding: 10px;
}
.todo-app{
    width: 100%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
}
.todo-app h2{
    display: flex;
    color: #153677;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    margin-left: 10px;
    width: 28px;
}
.row{
    display: flex;
    border-radius: 50px;
    padding-left: 20px;
    background-color: rgb(195, 199, 202);
    align-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
input{
    flex: 1;
    font-weight: 20px;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
    font-size: medium;
}
button{
    padding: 16px 50px;
    margin: auto;
    border: none;
    outline: none;
    background: #ee4a4a;
    font-size: medium;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px  12px 50px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/home/btcchl004/Pictures/images.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}
ul li .checked{
    text-decoration: line-through;
    color:#555;
} 

.checked{
   text-decoration: line-through;
   color:#555;
}

ul li.checked::before{
    background-image: url(/home/btcchl004/Pictures/5610944.png);
}
ul li span{
    position:absolute;
    top:5px;
    right: 30px;
    width:  40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
} 
ul li span:hover{
    background: #686464;
}

#prioritySelector {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

